@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');

:root{
    font-family: 'Work Sans', sans-serif;;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* NAV */
nav {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 13px;
    background-color: #252525;
}

nav div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#brand-logo{
    margin-left: 20px;
}

#brand-logo img{
    width: auto;    
    height: 70px;
}

#menu{
    list-style: none;
}

#menu .list-item{
    float: left;
    padding: 0 3px;
}

#menu .list-item a {
    text-decoration: none;
    color: #fff;
    padding: 3px 50px;
    font-size: 20px;
}

.nav-access{
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
}

.nav-access a{
    display: block;
    text-decoration: none;
}

#access-button {
    padding: 10px 30px;
    background-color: #aab600;
    color: #f0f0f0;
    border-radius: 7px;
}

#registro{
    color: #acacac;
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
    margin-top: auto;
    margin-left: 10px;
}

/* HEADER */

header#header{
    width: 100%;
    height: 65vh;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1559526324-593bc073d938?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section.header-hero{
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
    "info formulario"
    "cinta cinta";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    row-gap: 20px;
}

div#hero-card{
    grid-area: info;
    width: 70%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 10px;
    border-radius: 7px;
    background-color: #0000006d;
    color: #f0f0f0;
}

#hero-card .card-title{
    margin-bottom: 20px;
    width: 60%;
}

#hero-card .card-text{
    margin-bottom: 10px;
}

form#formulario{
    grid-area: formulario;
    width: 70%;
    margin: auto;
    height: auto;
}

#formulario h3{
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #f0f0f0;
}

#formulario{
    padding: 15px 10px;
    width: 60%;
    background-color: #f2f2f269;
    margin: auto;
    border-radius: 10px;
}

#formulario .form-box {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}

.form-box input, .form-box select{
    width: 60%;
    height: 30px;
    border: 1px solid #dedbdb;
    border-radius: 5px;
}

.form-box button {
    width: 40%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #aab600;
}

.form-box input, .form-box label, .form-box select, .form-box button {
    margin: auto;
}

#resultadoHeader{
    margin-top: 10px;
    width: 60%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

div#cinta-hero {
    grid-area: cinta;
    /* position: absolute; */
    margin-top: auto;
    overflow: hidden;
    bottom: 28.5vh;
    left: 0;
    right: 0;
    width: 100%;
}

div#cinta-hero ul {
    list-style: none;
    overflow: hidden;
    width: max-content;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.569);
    position: relative;
    left: 0;
}

div#cinta-hero ul li {
    float: right;
    padding: 1vh 1vw;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    color: #23b723;
}

/* CÓMO FUNCIONA */

section#how-it-works{
    height: fit-content;
    padding: 50px 20px;
    background-color: #c1c1c1;
}

#how-it-works .funciona-title{
    margin-bottom: 30px;
}

.como-funciona{
    display: flex;
    flex-flow: row nowrap;
}

.card-funciona{
    height: 250px;
    width: 200px;
    background-color: #353535;
    padding: 20px;
    /* border: 1px solid #000; */
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 20px rgb(36, 36, 36);
}

.funciona-number{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #353535;
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.funciona-number img {
    font-family:'Times New Roman', Times, serif;
    width: 50px;
    height: auto;
    font-weight: bold;
    display: block;
    margin: auto;
    cursor: pointer !important;
    filter: blur();
}

.card-funciona h3 {
    color: #f0f0f0;
    margin-bottom: 10px;
}

.card-funciona a.saber-mas {
    color: #fff;
    padding: 3px 7px;
    background-color: #aab600;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* NEWS Y NEWSLETTER */
section#news-newsletter{
    padding: 40px 20px;
    background-color: #353535;
}

div.news-newsletter-box{
    display: flex;
    flex-flow: row nowrap;
}

div.news-newsletter-box div {
    margin: auto;
    text-align: center;
}

div.news-newsletter-box div h3 {
    color: #f0f0f0;
    margin-bottom: 20px;
}

#descarga_mt5 > button.buttonDescarga {
    padding: 5px 7px;
    background: #aab600;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    width: 350px;
    height: 60px;
}

#news-register, .blog-button{
    display: block;
    margin: auto;
    width: 60%;
    padding: 3px 7px;
    border-radius: 7px;
    background-color: #00376f;
    border: 1px solid #085db3;
    color: #fff;
}

.newsleter-input {
    width: 70%;
    height: 20px;
    border: 1px solid #dedbdb;
    border-radius: 3px;
}

#newsleter-button {
    color: #fff;
    padding: 3px 7px;
    background-color: #aab600;
    border: none;
    border-radius: 5px;
}

/* DIVISAS y FINANZAS */
section#divisas{
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

div#divisas-box {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
}

div#historico-divisas {
    width: 40%;
    margin: auto;
}

table#divisas-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table#divisas-table td, table#divisas-table th {
    /* border: 1px solid #000; */
    padding: 3px 5px;
}

table#divisas-table thead{
    background-color: #454545;
    color: #f0f0f0;
}

table#divisas-table tr:nth-child(even){
    background-color: #8d8d8d;
    color: #f0f0f0;
}

/* WP POST API */
div#post-wp {
    margin-top: 40px;
}

ul.post-list {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-between;
}

ul.post-list > li {
    box-shadow: 0 0 4px #cacaca;
    padding: 5px;
    width: 20vw;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

ul.post-list > li > a {
    display: block;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #aab600;
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
}



/* FOOTER */
footer#footer{
    padding: 30px 20px;
    background-color: #353535;
    display: flex;
    flex-wrap: wrap;
}

div.footer-box{
    display: flex;
    flex-flow: column;
    margin: auto;
    height: 100%;
}

div.footer-box:nth-of-type(2){
    display: flex;
    flex-flow: column;
    height: 120px;
}

div.footer-box h3{
    display: block;
    margin-bottom: auto;
    color: #f0f0f0;
}

div.footer-box ul {
    list-style: none;
}

div.footer-box ul li a{
    color: #f0f0f0;
}

ul#footer-menu li {
    padding: 5px 7px;
}

ul#social-menu{
    display: block;
    margin: auto;
}

ul#social-menu li.social-icon{
    float: left;
    padding: 3px 7px;
    margin: auto;
    width: fit-content;
}

ul#social-menu li.social-icon a{
    font-size: 30px;
    display: block;
    margin: auto;
}

a#access-footer{
    padding: 10px 30px;
    background-color: #aab600;
    color: #f0f0f0;
    border-radius: 7px;
    display: block;
    margin: auto;
}

.direccion {
    flex: 0 0 100%;
    text-align: center;
    color: #fff;
}

div#whatsapp a{
    width: 5vw;
    height: 5vw;
    position: fixed;
    top: 89%;
    left: 1vw;
    background-image: url(/assets/img/whatsapp.png);
    background-size: auto 90%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 4px #494949);
    cursor: pointer;
}

.wrap_be8e {
    filter: drop-shadow(0 0 4px #494949) !important;
}

/* VENTANA DE DIALOGO */

#ventanaUno,
#ventanaDos,
#ventanaTres{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: #00000099;
    display: flex;
}

.card-dialogo{
    display: flex;
    flex-flow: column;
    height: fit-content;
    max-height: 70vh;
    width: 40%;
    margin: auto;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.card-dialogo-header {
    max-height: 300px;
    padding: 30px;
    box-sizing: border-box;
}

.card-dialogo-header img{
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.card-dialogo-body{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    line-height: 1.5;
}

.close-dialog-button{
    height: 20px;
    width: 50px;
    padding: 5px;
    background-color: #aab600;
    text-align: center;
    box-shadow: 0 0 5px #151515;
    margin-left: auto;
}

.close-dialog-button a {
    color: #353535;
    display: block;
}

#conceptos {
    padding: 20px 50px;
}

#conceptos-box {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    row-gap: 20px;
}

.card-conceptos {
    width: 250px;
    height: 250px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 7px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition-property: box-shadow, background;
    transition-duration: .5s;
    transition-delay: .1s;
    transition-timing-function: linear;
}

.card-icon {
    font-size: 3vw;
    text-align: center;
}

.card-icon i {
    display: block;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.card-conceptos > .card-title {
    text-align: center;
    display: block;
    margin: auto;
}

.cardConceptHover {
    background-color: #00376f;
    color: #fff;
    box-shadow: 0 0 4px #595959
}

.d-none{
    display: none !important;
}

.d-block {
    display: block !important;
}

/* burguer menu */
a#menu_burger {
    display: none;
}

/* BREAKPOINTS */

@media (min-width: 350px) and (max-width: 790px) {
    nav {
        display: grid;
        grid-template-areas:
            "logo logo"
            "registro menu";
        grid-template-columns: 50% 50%;
        row-gap: 20px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    #brand-logo {
        grid-area: logo;
        margin-left: auto;
    }

    #brand-logo img {
        width: auto;
        height: 70px;
    }

    .nav-menu {
        grid-area: menu;
        padding-bottom: 10px;
    }

    .nav-menu ul#menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #aab600;
        opacity: .9;
        right: 0;
        padding-top: 2vh;
        display: flex;
        flex-flow: column;
        transition-property: top, opacity;
        transition-duration: .3s;
        transition-timing-function: linear;
    }

    #menu .list-item {
        font-size: 26px;
        float: inherit;
        padding: 30px 20px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vh !important;
    }

    #menu .list-item a {
        color: #252525;
        font-weight: bold !important;
    }

    .nav-access {
        grid-area: registro;
        margin-right: auto;
    }

    section.header-hero {
        grid-template-areas: 
        "info"
        "formulario"
        "cinta";
        row-gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
    }

    header#header {
        height: 100%;
        padding: 30px 10px 50px;
        padding-top: 20vh;
    }

    div#hero-card {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        height: fit-content;
    }

    form#formulario {
        width: 92%;
    }

    #resultadoHeader {
        display: none;
    }

    div#cinta-hero {
        position: fixed;
        bottom: 0;
    }

    div#cinta-hero ul {
        width:900vw;
    }

    .animacionCinta-mobil {
        animation-name: cinta-mobile;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-play-state: running;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    .como-funciona {
        flex-flow: column;
        row-gap: 10px;
    }

    div.news-newsletter-box {
        flex-flow: column;
        row-gap: 20px;
    }

    div.news-newsletter-box div:not(div.news-newsletter-box div:last-child) {
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
    }

    section#divisas {
        flex-flow: column;
    }

    div#divisas-box {
        width: 100%;
    }

    table#divisas-table {
        width: 90%;
        font-size: 14px;
        margin: auto;
    }

    div#historico-divisas {
        width: 100%;
    }

    .card-dialogo {
        width: 80%;
    }

    .card-dialogo-header img {
        width: 100px;
    }

    .close-dialog-button {
        bottom: 44vh;
        left: 80vw;
    }

    #conceptos-box {
        flex-flow: column;
        row-gap: 20px;
    }

    .card-icon {
        font-size: 15vw;
    }

    .fadeUp-box {
        margin: auto;
        bottom: 17.5vh;
        right: 3vw;
    }

    .fadeUp-box-one {
        margin: auto;
        bottom: 20vh;
        right: 3vw;
    }

    .card-dialogo {
        position: relative;
        top: 5vh;
    }

    .card-dialogo-header {
        padding: 10px;
    }

    .card-dialogo-header img {
        margin-bottom: 5px;
    }

    footer#footer {
        flex-flow: column;
    }

    div#whatsapp a {
        width: 15vw;
        height: 15vw;
        top: 87%;
        left: 2vw;
    }

    jdiv[class^="button_"] {
        height: 14vw;
        width: 14vw;
        bottom: 7vw;
        right: -3vw;
    }

    .grupo-lista-descarga {
        width: 270px !important;
        right: 0 !important;
    }

    ul.grupo-lista-descarga > li {
        margin-bottom: 15px;
    }

    ul.post-list  {
        row-gap: 20px;
    }

    ul.post-list > li {
        width: 80vw;
    }

    ul.post-list > li > a {
        align-self: center;
        width: 80%;
        padding: 7px;
        text-align: center;
    }

    #descarga_mt5 > button.buttonDescarga {
        width: 320px;
    }
}


/* CLASES ESPECIALES JS */
.button-disabled{
    cursor: not-allowed !important;
    opacity: .5;
}

.input-error{
    border: 1px solid #ff6060 !important;
}

.input-success{
    border: 1px solid #63b163 I !important;
}

.mensaje-error {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    background-color: #ff7e7e;
    border: 1px solid #ff6060;
    color: #000;
}

.mensaje-modal {
    display: block;
    position: relative;
    top: 35vh;
    margin: auto;
    padding: 20px 10px;
    width: 26vw;
    box-sizing: border-box;
}

.mensaje-success {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: #a2e6a2;
    border: 1px solid #63b163;
    color: #555555;
}

.ventana-display-none {
    display: none !important;
}

a[id^="button-divisa"]{
    padding: 3px 7px;
    background-color: #aab600;
    color: #454545;
    font-size: 12px;
    display: block;
    margin: auto;
    border-radius: 3px;
}

div#myChart {
    width: auto;
    height: 370px;
}

#sectionModalFormulario {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #353535b6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.formularioContrato {
    width: 26vw;
    height: 50vh;
    margin: auto;
    padding: 20px 0;
    background: #f2f2f2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px #2f2f2f;
}

.formContainer {
    position: absolute;
    display: -webkit-inline-box;
}

.formularioContrato div.formBox {
    position: relative;
    height: fit-content;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    padding: 0 10px;
}

.formularioContrato div.aceptoBox {
    display: flex;
}

input#check_aceptar {
    width: 1vw;
}

input#check_aceptar ~ label {
    width: 80%;
    font-size: 13px;
}

/* #formularioContrato div.formBox:first-child {
    margin-left: 1vw;
} */

.formularioContrato div.formBox span{
    text-align: center;
}

.formularioContrato div.formBox input {
    height: 4vh;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    display: block;
    margin: auto;
    width: 90%;
}

.formularioContrato div.formBox label {
    display: block;
    margin: auto;
    width: 90%;
}

.formularioContrato div.formBox div.button-box {
    width: 90%;
    padding: 10px 20px;
    display: flex;
}

.formularioContrato div.formBox div.buttonBox {
    display: flex;
    column-gap: 14px;
    flex-flow: row;
}

.formularioContrato div.formBox div.buttonBox button {
    padding: 7px 15px;
    border-radius: 10px;
    background: linear-gradient(180deg, #aab600, #98a302);
    border: 1px solid #aab600;
    float: right;
    cursor: pointer;
    display: block;
    margin: auto;
    min-width: 100px;
}

.fade {
    animation-name: fade;
    animation-duration: .5s;
}

span.cerrarModal {
    position: absolute;
    right: 1vw;
    height: 20px;
    width: 20px;
    background: #e7e7e7;
    border-radius: 50%;
    box-shadow: 0 0 4px #000;
    cursor: pointer;
}

.open-menu{
    display: block !important;
    margin: auto;
}

.open-menu i {
    display: block;
    margin: auto;
    font-size: 28px;
    color: #fff;
}

.menu-close {
    top: -110vh;
    opacity: 0;
}

.menu-open {
    top: 17vh;
    opacity: 1;
}

.grupo-lista-descarga {
    padding: 20px 30px;
    background-color: #00376f;
    position: absolute;
    left: 0;
    right: 5px;
    display: block;
    margin: auto;
    margin-top: 60px;
    border-radius: 7px;
    box-shadow: 0 0 5px #707070;
    list-style: none;
    width: 450px;
}

ul.grupo-lista-descarga li {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.grupo-lista-descarga li > i {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    flex: 0 0 20%;
}

.grupo-lista-descarga > li > a {
    color: #fff;
    font-size: 18px;
    flex: 0 0 80%;
    text-align: initial;
    padding-left: 20px;
}

.grupo-lista-descarga > li > a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #65a9ee;
}

div#mensajeDeRiesgo {
    flex: 0 0 80%;
    text-align: center;
    color: #fff;
    margin: auto;
}

div#mensajeDeRiesgo b {
    color: #1b0ae8;
    font-size: 16px;
}

hr {
    flex: 0 0 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 350px) and (max-width: 790px) {
    .formularioContrato {
        width: 80%;
    }

    .formContainer {
        width: 100%;
    }

    .formularioContrato div.formBox {
        width: 90%;
    }

    #cerrarFormulario {
        top: 18vh;
        left: 87vw;
        height: 30px;
        width: 30px;
        font-size: 24px;
    }

    .mensaje-modal {
        display: block;
        margin: auto;
        margin-top: 6vh;
        padding: 20px 30px;
    }
}

/* CINTA */

.animacionCinta {
    animation-name: cinta;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes cinta {
    0% {
        left: 0vw;
    }

    100% {
        left: -91vw;
    }
}

@keyframes cinta-mobile {
    0% {
        left: 0vw;
    }

    100% {
        left: -710vw;
    }
}